h1 {
  text-align: center;
  margin-bottom: 15px;
  font-style: italic;
  font-size: 60px;
}
* {
   box-sizing: border-box;
 }
body{
  margin:50px;
}
.container{
}
.row{
  background-color: blue;
  margin: 20px;
  width: 100%;
}

#first\ b, #first\ a, #first\ c {
  position: relative;
  background-color: lightgray;
  border:1px solid black;
  margin-bottom: 10px;
}

#Beef{
  background-color: red;
}
#Chicken{
  background-color: pink;
}
#Sushi{
  background-color: yellow;
}

span{
  position:absolute;
  right: 0px;
  width:150px;
  text-align: center;
  border-left:1px solid black;
  border-bottom:1px solid black;
}
p{
  margin:40px 10px 20px 20px;
  width:auto;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12
  { float: left;
  }
  #first\ a{
    margin-left: -25px;
  }
  #first\ b{
    margin-left:10px;
    margin-right:10px;
  }
  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
  { float:left;

  }
  #first\ a{
    margin-left: -25px;
  }
  #first\ b{
    margin-left:10px;
    margin-right:10px;
  }
  #first\ c{
    margin-left: -25px;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 101%;
    margin-left:-20px;

  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sm-12
  { float:left;

  }

  .col-sm-12 {
    width: 100%;
    margin-left: -20px;
  }
}
